<nav class="navbar navbar-expand-sm navbar-dark bg-primary shadow-sm">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto m-auto">
      <li class="nav-item text-white" *ngIf="!dataLoaded; else navbar">
        Error while fetching data..
      </li>
      <ng-template #navbar>
        <li class="nav-item">
          <a class="nav-link cursor-p" routerLink=""> All Products </a>
        </li>
        <li class="nav-item" *ngFor="let category of categories">
          <a class="nav-link cursor-p" routerLink="category/{{ category.id }}">
            {{ category.name }}
          </a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
