<div class="container h-100 my-4">
  <div class="col-12 col-md-7 m-auto p-2">
    <div class="card my-2" *ngFor="let item of cartItems">
      <div class="row col-12 m-auto p-3">
        <div
          class="col-12 col-sm-6 col-md-4 align-self-center d-flex justify-content-center"
        >
          <img
            src="{{ item.image }}"
            class="img-fluid rounded-3"
            alt="Cart item image"
          />
        </div>
        <div class="col-12 col-sm-6 col-md-4 mt-3">
          <h5 class="border-bottom">{{ item.name }}</h5>
          <p>{{ item.unitPrice }} $</p>
        </div>
        <div
          class="col-md-4 col-lg-2 m-auto align-self-center d-flex justify-content-center"
        >
          <button class="btn btn-danger">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
