<footer class="footer bg-primary p-5 mt-5">
  <div class="row">
    <div class="container col-12 col-md-3 mb-3">
      <div class="row">
        <p class="py-1 text-center">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
          tenetur.
        </p>
      </div>
      <div class="d-flex justify-content-around mt-3">
        <i class="bi bi-facebook mx-2 fs-4 cursor-p"></i>
        <i class="bi bi-instagram mx-2 fs-4 cursor-p"></i>
        <i class="bi bi-linkedin mx-2 fs-4 cursor-p"></i>
        <i class="bi bi-twitter mx-2 fs-4 cursor-p"></i>
      </div>
    </div>
    <div class="container col-12 col-md-2 mb-3">
      <h5 class="border-bottom py-1 text-center">About</h5>
      <ul class="text-center p-0">
        <li class="list-group-item py-2 cursor-p">About Us</li>
        <li class="list-group-item py-2 cursor-p">Corporate Sale</li>
        <li class="list-group-item py-2 cursor-p">Terms & Policy</li>
      </ul>
    </div>
    <div class="container col-12 col-md-2 mb-3">
      <h5 class="border-bottom py-1 text-center">Help</h5>
      <ul class="text-center p-0">
        <li class="list-group-item py-2 cursor-p">Support</li>
        <li class="list-group-item py-2 cursor-p">Privacy Policy</li>
        <li class="list-group-item py-2 cursor-p">Terms & Conditions</li>
        <li class="list-group-item py-2 cursor-p">Help & Support</li>
      </ul>
    </div>
    <div class="container col-12 col-md-2 mb-3">
      <h5 class="border-bottom py-1 text-center">Contact</h5>
      <ul class="text-center p-0">
        <li class="list-group-item py-2 cursor-p">Email Us</li>
        <li class="list-group-item py-2 cursor-p">Help Center</li>
      </ul>
    </div>
  </div>
</footer>
