<footer class="footer bg-primary p-5 text-white">
  <div class="row mt-5">
    <div class="container col-12 col-md-3 mb-3">
      <p class="py-1 text-center cursor-d">
        {{ description }}
      </p>
      <div class="d-flex justify-content-around mt-3">
        <a href="{{ facebookUrl }}" target="_blank">
          <i class="bi bi-facebook mx-2 fs-4"></i>
        </a>
        <a href="{{ instagramUrl }}" target="_blank">
          <i class="bi bi-instagram mx-2 fs-4"></i>
        </a>
        <a href="{{ linkedInUrl }}" target="_blank">
          <i class="bi bi-linkedin mx-2 fs-4"></i>
        </a>
        <a href="{{ twitterUrl }}" target="_blank">
          <i class="bi bi-twitter mx-2 fs-4"></i>
        </a>
      </div>
    </div>
    <div class="container col-12 col-md-2 mb-3">
      <h5 class="border-bottom cursor-d py-1 text-center">About</h5>
      <ul class="text-center p-0">
        <li class="list-group-item py-2">
          <span>About Us</span>
        </li>
        <li class="list-group-item py-2">
          <span>Corporate Sale</span>
        </li>
        <li class="list-group-item py-2">
          <span>Terms & Policy</span>
        </li>
      </ul>
    </div>
    <div class="container col-12 col-md-2 mb-3">
      <h5 class="border-bottom cursor-d py-1 text-center">Help</h5>
      <ul class="text-center p-0">
        <li class="list-group-item py-2">
          <span>Support</span>
        </li>
        <li class="list-group-item py-2">
          <span>Privacy Policy</span>
        </li>
        <li class="list-group-item py-2">
          <span>Terms & Conditions</span>
        </li>
        <li class="list-group-item py-2">
          <span>Help & Support</span>
        </li>
      </ul>
    </div>
    <div class="container col-12 col-md-2 mb-3">
      <h5 class="border-bottom cursor-d py-1 text-center">Contact</h5>
      <ul class="text-center p-0">
        <li class="list-group-item py-2">
          <span>Email Us</span>
        </li>
        <li class="list-group-item py-2">
          <span>Help Center</span>
        </li>
      </ul>
    </div>
  </div>
</footer>
