<div class="card p-2 bg-primary text-white">
  <h5 class="p-1 text-center border-bottom">Confirm Cart</h5>
  <div class="card-body" *ngIf="!isLoggedIn; else payment">
    <div class="row">
      <p class="text-center">Please login to continue..</p>
    </div>
    <div class="card-footer bg-primary border-top text-center">
      <button class="btn btn-success w-50" routerLink="/login">Login</button>
    </div>
  </div>
  <ng-template #payment>
    <div class="card-body">
      <form class="row g-3 m-auto col-12 col-sm-8 col-lg-12">
        <div class="col-12">
          <label class="form-label" for="cardholder"> Cardholder's Name </label>
          <input
            type="text"
            name="Cardholder"
            id="cardholder"
            placeholder="Cardholder's Name"
            class="form-control"
          />
        </div>
        <div class="col-12">
          <label class="form-label" for="cardholder"> Card Number </label>
          <input
            type="number"
            name="Card Number"
            id="cardNumber"
            placeholder="1111 1111 1111 1111"
            class="form-control"
            onkeypress="if(this.value.length > 15) return false"
          />
        </div>
        <div class="col-12">
          <label class="form-label" for="cvv"> CVV/CVC </label>
          <input
            type="number"
            name="CVV"
            id="cvv"
            placeholder="***"
            class="form-control"
            max="999"
            onkeypress="if(this.value.length >2) return false"
          />
        </div>
        <div class="col-12">
          <label class="form-label" for="expiry"> Expiry </label>
          <input
            type="month"
            [maxLength]="7"
            class="form-control"
            id="expiry"
            min="2023-02"
          />
        </div>
      </form>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">Cart Total:</div>
        <div class="col text-end">{{ cartTotal }}</div>
      </div>
      <div class="row">
        <div class="col">Shipping:</div>
        <div class="col text-end">{{ shippingPrice }}</div>
      </div>
      <div class="row">
        <div class="col">Total:</div>
        <div class="col text-end">{{ cartTotal + shippingPrice }}</div>
      </div>
    </div>
    <div class="card-footer bg-primary border-top text-center">
      <button class="btn btn-success w-50">Pay</button>
    </div>
  </ng-template>
</div>
