<div class="container pb-5 h-100">
  <div class="d-flex justify-content-center align-items-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
      <div class="card bg-primary text-center p-5 shadow-lg">
        <h3 class="card-header border-bottom bg-primary text-white">
          Register
        </h3>
        <form
          class="card-body col-12 col-md-11 col-lg-10 m-auto"
          [formGroup]="registerForm"
        >
          <div class="form-floating my-4">
            <input
              type="text"
              class="form-control"
              placeholder="John"
              formControlName="firstName"
            />
            <label for="floatingInput">Name</label>
          </div>
          <div class="form-floating my-4">
            <input
              type="text"
              class="form-control"
              placeholder="Doe"
              formControlName="lastName"
            />
            <label for="floatingInput">Surname</label>
          </div>
          <div class="form-floating my-4">
            <input
              type="text"
              class="form-control"
              placeholder="Example St. 35/1 District/City"
              formControlName="address"
            />
            <label for="floatingInput">Address</label>
          </div>
          <div class="form-floating my-4">
            <input
              type="number"
              class="form-control"
              placeholder="(123) 123 123 12 12"
              formControlName="phone"
              onkeypress="if(this.value.length > 12) return false"
            />
            <label for="floatingInput">Phone</label>
          </div>
          <div class="form-floating my-4">
            <input
              type="email"
              class="form-control"
              placeholder="name@example.com"
              formControlName="email"
            />
            <label for="floatingInput">Email</label>
          </div>
          <div class="form-floating my-4">
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              formControlName="password"
            />
            <label for="floatingPassword">Password</label>
            <span
              class="help-block text-white"
              *ngIf="
                password.touched &&
                !password.valid &&
                password.hasError('passwordStrength')
              "
            >
              Password is weak.
            </span>
          </div>
          <div class="form-floating my-4">
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              formControlName="confirmPassword"
            />
            <label for="floatingPassword">Confirm Password</label>
            <span
              class="help-block text-white"
              *ngIf="
                confirmPassword.touched &&
                registerForm.hasError('passwordMatch')
              "
            >
              Passwords do not match.
            </span>
          </div>
          <button
            class="btn btn-lg btn-success my-4 w-100"
            (click)="register()"
          >
            Register
          </button>
          <div class="card-body text-white mt-4 pb-0">
            <span class="cursor-d">
              Already have an account?
              <a class="cursor-p" routerLink="/login">Sign In</a>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
