<form>
  <div class="row">
    <label class="col-6 d-flex col-form-label-sm justify-content-start">
      Price Range
    </label>
    <label
      class="col-6 d-flex col-form-label-sm justify-content-end"
      (click)="clearPriceFilter()"
    >
      Clear
    </label>
  </div>
  <div class="row form-group border-top pt-1 justify-content-center">
    <div class="col-2 col-md-4 px-1">
      <input
        class="form-control form-control-sm"
        type="number"
        placeholder="Min"
        min="0"
        [max]="maxPrice"
        [(ngModel)]="minPrice"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="col-2 col-md-4 px-1">
      <input
        class="form-control form-control-sm"
        type="number"
        placeholder="Max"
        [min]="minPrice || 0"
        [(ngModel)]="maxPrice"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div class="col-2 p-0">
      <button class="btn btn-sm btn-primary w-100">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
</form>
