<div class="card p-2 border border-3 border-primary">
  <div class="row justify-content-center px-3">
    <div class="row gx-3 gy-2 pb-3">
      <div class="col-12 col-md-6">
        <label class="form-label" for="username">Name</label>
        <input
          type="text"
          class="form-control border-primary"
          name="User Name"
          id="username"
          placeholder="Enter your name.."
          [value]="name"
        />
      </div>
      <div class="col-12 col-md-6">
        <label class="form-label" for="email">Email</label>
        <input
          type="email"
          class="form-control border-primary"
          name="Email"
          id="email"
          placeholder="Enter your email.."
          [value]="user.email"
        />
      </div>
      <div class="col-12 col-md-6">
        <label class="form-label" for="phone">Phone:</label>
        <input
          type="text"
          class="form-control border-primary"
          name="phone"
          id="phone"
          placeholder="Enter your phone number.."
          [value]="user.phone"
        />
      </div>
      <div class="col-12">
        <label class="form-label" for="address">Address</label>
        <input
          type="text"
          class="form-control border-primary"
          name="Address"
          id="address"
          placeholder="Enter your address.."
          [value]="user.address"
        />
      </div>
      <div class="col-12 text-center">
        <button class="btn btn-success p-2">Update Profile</button>
      </div>
    </div>
    <div class="row gx-3 gy-2 py-3 border-top border-primary">
      <div class="col-12 col-md-6">
        <label class="form-label" for="password">Old Password</label>
        <input
          type="password"
          class="form-control border-primary"
          name="Password"
          id="password"
          placeholder="Old password"
        />
      </div>
      <div class="col-12 col-md-6">
        <label class="form-label" for="newPassword">New Password</label>
        <input
          type="password"
          class="form-control border-primary"
          name="New Password"
          id="newPassword"
          placeholder="New password"
        />
      </div>
      <div class="col-12 text-center">
        <button class="btn btn-success p-2">Change Password</button>
      </div>
    </div>
  </div>
</div>
