<div class="container pb-5 h-100">
  <div class="d-flex justify-content-center align-items-center">
    <div class="col-12 col-sm-8 col-md-6">
      <div class="card bg-primary text-center p-5">
        <h3 class="card-header border-bottom bg-primary text-white">Login</h3>
        <form class="card-body col-12 col-lg-8 m-auto">
          <div class="form-floating my-4">
            <input
              type="email"
              class="form-control"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Email</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
          </div>
          <div class="card-body text-white">
            <a class="cursor-p">Forget password?</a>
          </div>
          <button class="btn btn-lg btn-success my-4 w-100">Login</button>
          <div class="card-body text-white mt-4 pb-0">
            <span class="cursor-d">
              Don't have an account?
              <a class="cursor-p" >Sign Up</a>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
