<div class="row align-items-center">
  <div class="col d-flex justify-content-center my-2">
    <img src="https://picsum.photos/200" alt="product image" />
  </div>
  <div class="col-6 col-md d-flex flex-column align-items-center">
    <p class="fs-1">4,5</p>
    <span class="fs-4">
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-half"></i>
    </span>
  </div>
  <div class="col-6 col-md">
    <div class="row align-items-center" *ngFor="let item of ratings">
      <div class="col px-1 text-center">
        <i class="bi bi-star-fill"></i> {{ item.star }}
      </div>
      <div class="col-9 px-1">
        <div class="progress">
          <div
            class="progress-bar bg-warning"
            role="progressbar"
            [style.width]="item.value"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
