<h4 class="text-center my-3">Product name</h4>
<div class="row">
  <p class="col">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur neque,
    earum beatae cupiditate porro placeat. Lorem ipsum dolor sit amet
    consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis,
    unde velit hic aliquid exercitationem nobis voluptate earum vero ducimus
    consequuntur! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim
    voluptas dolor tempora ipsam ratione, quasi nostrum sunt modi, voluptate
    tenetur provident officiis nemo nam necessitatibus?
  </p>
  <img
    src="https://picsum.photos/id/11/100"
    alt=""
    class="d-block w-25 rounded"
  />
</div>
